<div id='fixedban'>
    <div>
        <a id='close-fixedban' onclick='document.getElementById(&quot;fixedban&quot;).style.display = &quot;none&quot;'>
            <img alt='close' src='/themes/grid/static/img/close.png' title='close button' />
        </a>
    </div>
    <div class='adsfixed'>

        <!-- 728x90 (1) -->
        <ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px"
            data-ad-client="ca-pub-3956807637449855" data-ad-slot="1407196300"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    </div>
</div>